#navbar.white .top {
  background: #f3f5f7;
}
#navbar.white .bottom {
  background: white;
  border: 1px solid #ebebeb;
}
#navbar.white .basic {
  display: none;
}
#navbar.white .black {
  display: block;
}
#navbar.dark .basic {
  display: block;
}
#navbar.dark .black {
  display: none;
}
#navbar.white .num,
#navbar.white .current,
#navbar.white .links a {
  color: var(--black);
}
#navbar.white .stick {
  background: var(--black);
}
#navbar.white .search svg path {
  stroke: var(--black);
}
#navbar.white .current svg path {
  fill: var(--black);
}
.site.white {
  background: white;
}
.site.white .site_top .cardo {
  background: #f3f5f7;
}
.site.white .site_top .title {
  color: var(--black);
}
.site.white .site_top .crumbs,
.site.white .site_top .crumbs a {
  color: var(--grey-64, #5d5d5f);
}
.site.white .site_top {
  padding: 208px 0 40px 0;
}
.site.white .burger .pick,
.site.white .burger .pick::after,
.site.white .burger .pick::before {
  background: var(--dark);
}
.site.white #navbar .right {
  background: white;
}
.site.white #navbar .searcher p {
  color: var(--dark);
}
.site.white #navbar .searcher svg path {
  stroke: var(--dark);
}
.site.white #navbar .langer a {
  color: var(--dark);
}
@media screen and (max-width: 1024px) {
  .site.white .site_top {
    padding: 100px 0 24px 0;
  }
}
